@import "theme.css";
@import "layout.css";
@import "overlay.css";
@import "toast.css";
@import "header.css";
@import "components.css";
@import "animations.css";

/* Global vars */
:root {
  --primary-color: #f1f0ea;
  --background-color: #0d1b2a;
  --success-color: #679436;
  --error-color: #a22522;
  --warning-color: #f0803c;

  /* Light Mode Variables */
  --light-primary-color: #0d1b2a;
  --light-background-color: #f1f0ea;

  /* Dark Mode Variables */
  --dark-primary-color: #f1f0ea;
  --dark-background-color: #0d1b2a;

  --my-transition: none;
}
